/* global setting */

*{
    margin: 0;
    padding: 0;
}

body{
    max-width: 1024px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

/* commont */

.row{
    display: inline-grid;
    margin: 0 auto; 
}

.section{
    box-sizing: border-box;
    margin: 10px auto;
    width: 100%;
}

.sticky{
    background: #000;
}

.sticky a{
    color: #fff;
}

/* header */

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 110;
}

.nav_contant{
    margin: 20px 0;
}

nav a{
    color: #000;
    margin: 5px 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all .8s;
    
}

nav a:hover{
    background: #000;
    color: rgb(216, 145, 65);
}


/* container */

.container{
    margin-top: 78px;
}

.header_contant{
    margin: 10px auto 20px auto;
    text-align: center;
}

.header_img{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}

.header_img>img{
    width: 100%;
    height: 100%;
}

/* about */

.about_contant{
    margin: 20px;
}

.about_contant p{
    line-height: 1.7rem;
}

/* portfolio */

.portfolio_contant{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

.profile_card{
    position: relative;
    width: 31%;
    margin: 10px;
     
}

.card_cover{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.5s;
}

.card_cover p{
    line-height: 13;
}

.profile_card:hover .card_cover{
    opacity: 1;
} 

.profile_card img{
    width: 100%;
    height: 100%;
}

/* skill bar */

#section_skill{
    clear: both;
}

.skill_outer{
    display: inline-flex;
    margin: 40px 20px 20px 20px;
    width: 100%;
}

.skill_contant{
    width: 50%;
}

.skill_wrap{
    display: flex;
    justify-content: end;
    align-items: center;
}

.skill_icon{
    display: inline-flex;
    width: 50px;
    height: 50px;
}

.skill_icon>img{
    width: 100%;
    height: 100%;
}

.skill_bar{
    display: inline-flex;
    background-color: rgba(250, 137, 45, 0.788);
    box-sizing: border-box;
    height: 25px;
    margin: 20px;
    padding: 10px;
    position: relative;
    width: 70%;
}

.progress{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.progress:before{
    position: absolute;
    animation: slideIn 4s ease-out;
    background-color: cornflowerblue;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
}

.content{
    margin-top: 15px;
}

@keyframes slideIn{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

/* skill bar End */


/* footer */

footer{
    text-align: center;
}

.contact_footer::before{
    content: "";
    display: table;
    clear: both;
}

.contact_contain{
    height: 150px;
}

.social{
    text-align: center;
}

.social_icon{
    display: inline-block;
    box-sizing: border-box;
    border-radius: 50%;
    padding: 8px 11px;
    transition: transform 0.5s;
}

.social_icon a{
    color: rgb(0, 0, 0);
}

.social_icon:hover{
    transform: scale(1.2);
}

.contact_left{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
}

.mail_warper{
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.mail_warper a,.mail_warper span{
    color: #fff;
}